{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}?v=2.2">
</head>
<body>
    <header class="bg-light py-3">
        <div class="container">
            <div class="row align-items-center header-padding">
                <!-- Логотип -->
                <div class="col-12 col-lg-3">
                    <a href="{% url 'index' %}">
                        <img src="{% static '/images/ebony_and_co_logo.png' %}" alt="Логотип" style="max-height: 100px; max-width: 300px;">
                    </a>
                </div>

                <!-- Заголовок -->
                <div class="col-12 col-lg-9 header-padding">
                    <h1>{% block header %}{% endblock %}</h1>
                </div>

            </div>
            {% block auth %}
            {% endblock auth %}
        </div>
    </header>

    <main class="container py-4">
        {% include 'search_form.html' %}
        <div class="row">
            <!-- Панель навигации слева -->
            <div class="col-lg-4 col-12 bg-light">
                {% block navigation %}{% endblock %}
            </div>
            <!-- Блок контента -->
            <div class="col-lg-8 col-12 content-custom-padding">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="row">
            {% block chart %}{% endblock %}
        </div>
    </main>
    <footer class="bg-light py-3">
        <div class="container text-center">
            <p>Админ Антонов Д.Е +7(977)276-72-58</p>
            {% block footer %}{% endblock %}
        </div>
    </footer>
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>
    {% if user.is_authenticated %}
    <div id="unreadNotificationsUrl" style="display: none;" data-url="{% url 'get_unread_notifications_count' %}"></div>
    <div id="notification-container">
        <span id="notification-count"></span> <!-- Текст с количеством уведомлений -->
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
          <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
        </svg>
        <span id="notification-icon" class="bi bi-bell" style="font-size:10rem"></span> <!-- Иконка уведомлений -->
    </div>
    {% endif %}
    <button onclick="topFunction()" id="myBtn" title="Go to top">Наверх</button>


    <!-- Подключение Bootstrap JS и зависимостей -->
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'popper.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'scripts.js' %}"></script>
</body>
</html>
