{% extends 'base.html' %}

{% block navigation %} {% include 'default_buttons.html' %} {% endblock %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <h5 class="card-header text-center">Смена пароля</h5>
            <div class="card-body">
                <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-3 text-center">
                            <div class="d-inline-block" style="width: 100%; max-width: 300px;">
                                <!-- Используйте placeholder для каждого поля -->
                                <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" class="form-control mx-auto" id="{{ field.id_for_label }}" placeholder="{{ field.label }}" {% if field.value %}value="{{ field.value|stringformat:'s' }}"{% endif %}>
                                {% for error in field.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="text-center">
                        <button type="submit" class="btn btn-dark">Сменить пароль</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
